.projects {
  background-color: #F9F9F9;
  padding: 72px 24px 25px 24px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.project-img {
  width: 100%;
  margin-bottom: 20px;
}

.project-img:hover {
  opacity: 0.8;
}

.project-header {
  color: #1C1B22;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.80px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.project-paragraph {
  color: #68647D;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: -0.56px;
  margin-bottom: 24px;
}