.home {
  padding: 72px 24px 25px 24px;
  background-image: url("./src/assets/background-pattern.svg");
}

.greeting {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 62px;
}

.home-title {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.96px;
  margin-top: 16px;
}

.quote {
  color: #68647D;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.home-paragraph {
  color: #68647D;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: -0.64px;
  margin-top: 16px;
  width: 59.327217%;
  margin-bottom: 32px;
}

.content-button {
  background-color: #F8F301;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.10);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1.20px;
  padding: 1rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}