.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  background: white;
  width: 100%;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.logo-border {
  position: absolute;
  background: linear-gradient(45deg, transparent, transparent 40%, #81E3F8), linear-gradient(#67b5c6, #b3eefa);
  animation: rotate 1.5s linear infinite;
  border-radius: 21px;
  height: 42px;
  width: 42px;
  z-index: -1;
}

.logo-border:before,
.logo-border:after {
  content: " ";
  position: absolute;
  inset: 2px;
  border-radius: inherit;
}

.logo-border:before {
  background: linear-gradient(45deg, transparent, transparent 40%, #81E3F8);
  filter: blur(4px);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  height: 39px;
}

.navbar-title {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.navbar-button {
  width: 20px;
  height: auto;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.navbar-button:hover {
  filter: invert(75%) sepia(62%) saturate(428%) hue-rotate(162deg) brightness(104%) contrast(95%);
}

@media only screen and (min-width: 768px) {
  .navbar-button {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #hidden{
    display: none;
  }
}